{#
 # The following license and copyright notice applies to all content in
 # this repository where some other license does not take precedence. In
 # particular, notices in sub-project directories and individual source
 # files take precedence over this file.
 #
 # See COPYING for more information.
 #
 # eXtensible, Modular Hypervisor Framework 64 (XMHF64)
 # Copyright (c) 2023 Eric Li
 # All Rights Reserved.
 #
 # Redistribution and use in source and binary forms, with or without
 # modification, are permitted provided that the following conditions
 # are met:
 #
 # Redistributions of source code must retain the above copyright
 # notice, this list of conditions and the following disclaimer.
 #
 # Redistributions in binary form must reproduce the above copyright
 # notice, this list of conditions and the following disclaimer in
 # the documentation and/or other materials provided with the
 # distribution.
 #
 # Neither the name of the copyright holder nor the names of
 # its contributors may be used to endorse or promote products derived
 # from this software without specific prior written permission.
 #
 # THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
 # CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
 # INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 # MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 # DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS
 # BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 # EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 # TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 # DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 # ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
 # TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF
 # THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 # SUCH DAMAGE.
-#}

set default="0"
menuentry_id_option=""
terminal_input console
terminal_output console
set timeout_style=menu
set timeout={{ timeout }}

set menu_color_normal=cyan/{{ menu_bg }}
set menu_color_highlight=white/{{ menu_bg }}

menuentry "{{ menuentry }}" {
	echo "root = $root"
	{%- if subarch == 'windows' %}
	insmod part_msdos
	insmod ntfs
	{%- endif %}
	if [ "${root}" = "hd0,msdos1" ] ; then
		set new_root='hd1,msdos1'
		set boot_drive='0x81'
		set new_grub='(hd1)+1'
	fi
	if [ "${root}" = "hd1,msdos1" ] ; then
		set new_root='hd2,msdos1'
		set boot_drive='0x82'
		set new_grub='(hd2)+1'
	fi
	if [ "${root}" = "hd2,msdos1" ] ; then
		set new_root='hd3,msdos1'
		set boot_drive='0x83'
		set new_grub='(hd3)+1'
	fi
	if [ "${root}" = "hd3,msdos1" ] ; then
		set new_root='hd4,msdos1'
		set boot_drive='0x84'
		set new_grub='(hd4)+1'
	fi
	if [ "${root}" = "hd4,msdos1" ] ; then
		set new_root='hd5,msdos1'
		set boot_drive='0x85'
		set new_grub='(hd5)+1'
	fi
	{%- if subarch == 'windows' %}
	set root="$new_root"
	parttool ${root} hidden-
	drivemap -s (hd0) ${root}
	chainloader +1
	{%- else %}
	set kernel='/boot/init-x86-{{ subarch }}.bin'
	echo "Loading ${kernel}..."
	multiboot ${kernel} serial=115200,8n1,0x3f8 boot_drive=${boot_drive}
	module /boot/hypervisor-x86-{{ subarch }}.bin.gz
	module --nounzip ${new_grub}
	{%- endif %}
}
